
  
  
  .navigation {
    display: flex;
   
    padding: 30px;
  }
  .navigation {
    display: flex;
    /* background-color: rgb(1, 10, 2); */
    
    background-image: url('/src/imgs');
    padding: 250px;
    margin-bottom: 20px;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor (derecha) */
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
  }
  
  .navigation li {
    margin-right: 15px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
  }
  
  .navigation a:hover {
    color: #ddd;
  }
  