.stats-back{

    height: 100vh; /* 100% de la altura de la ventana */
    width: 100vw; /* 100% del ancho de la ventana */
background-color:;
}


.stats{

margin-top: 130px;
    background-color:   #ddec55
    ;
    height: 350px;
  
}